// Define variables
$font-serif: 'DM Serif Display', serif;
$font-sans: 'Source Serif 4', serif;
$primary-color: #ffd485;
$secondary-color: #ffa600;

// Import partials
@import 'partials/header';
@import 'partials/hero';
@import 'partials/customer-reviews';
@import 'partials/newsletter';
@import 'partials/footer';

* {
  font-family: $font-serif, $font-sans;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}