// Define variables
$font-serif: 'DM Serif Display', serif;
$font-sans: 'Source Serif 4', serif;
$primary-color: #ffd485;
$secondary-color: #ffa600;

// Import partials
@import 'partials/header';
@import 'partials/hero';
@import 'partials/customer-reviews';
@import 'partials/newsletter';
@import 'partials/footer';

* {
  font-family: $font-serif, $font-sans;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

// Button mixin
@mixin button-styles {
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    transform: scale(1.05);
  }
}